{% extends 'base.html' %}
{% block title %}{{ title }} | Learning management system{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Домашняя страница</a></li>
        <li class="breadcrumb-item active" aria-current="page">Панель админа</li>
    </ol>
</nav>  

<div class="title-1"><i class="fas fa-user-tie"></i>Панель админа</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="border-bottom">
                Управление<a class="link" href="{% url 'lecturer_list' %}"> Учителя &raquo;</a>
                <p class="text-muted">CRUD (Создание, Получение, Обновление и Удаление) преподавателей</p>
            </div>

            <div class="border-bottom mt-3">
                Управление<a class="link" href="{% url 'student_list' %}"> Students &raquo;</a>
            <p class="text-muted">CRUD (Создание, Получение, Обновление и Удаление) студентов</p>
            </div>

            <div class="border-bottom mt-3">
                Управление<a class="link" href="{% url 'session_list' %}"> Сессия &raquo;</a>
            <p class="text-muted">CRUD (Создание, Получение, Обновление и Удаление) сессии</p>
            </div>

            <div class="mt-3">
                Управление<a class="link" href="{% url 'semester_list' %}"> Семестр &raquo;</a>
            <p class="text-muted">CRUD (Создание, Получение, Обновление и Удаление) семестров</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border-bottom">
                Добавить курс или удалить
                <label class="switch switch-text switch-success switch-pill" style="float: right;">
                <input type="checkbox" class="switch-input" checked="true">
                <span data-on="On" data-off="Off" class="switch-label"></span>
                <span class="switch-handle"></span>
                </label>
                <p class="text-muted">Переключить 
                    <i class="info-text py-0 px-2 bg-success text-light">Включить</i> или <i class="info-text py-0 px-2 bg-danger text-light">Выключить</i>
                </p>
            </div>

            <div class="border-bottom mt-3">
                Управление<a class="link" href="{% url 'programs' %}"> Программы или курсы &raquo;</a>
            <p class="text-muted">CRUD (Создание, Получение, Обновление и Удаление) Программ</p>
            </div>

            <div class="border-bottom mt-3">
                Управление<a class="link" href="{% url 'course_allocation_view' %}"> Привязка курсов &raquo;</a>
            <p class="text-muted">CRUD (Создание, Получение, Обновление и Удаление) привязанных курсов</p>
            </div>

            <div class="mt-3">
                Управление<a class="link" href="{% url 'home' %}"> News &amp; Events &raquo;</a>
            <p class="text-muted">CRUD (Создание, Получение, Обновление и Удаление) Новостей и событий</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
