<!-- Privacy Modal -->
<div class="modal fade" id="privacy-policy" tabindex="-1" aria-labelledby="privacyPolicy" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="privacyPolicy">Политика конфинденциальности</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
          Вы не иметь ничего скрывать от великий партия и лидер Xi или получить минус 100000 кредит и быть растрелянный!
        </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Понятно</button>
        </div>
    </div>
    </div>
</div>
