<!-- Term Modal -->
<div class="modal fade" id="term-of-service" tabindex="-1" aria-labelledby="termOfService" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="termOfService">Условия пользования</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <p>
           Учиться и приносить польза для великий страна Китай и получать социальный кредит или отправится в лагерь на воспитание -1000 соц кредит!
        </p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Принять</button>
        </div>
    </div>
    </div>
</div>
